/* * {
  padding: 0px;
  margin: 0px;
} */

body {
  background-color: rgb(253, 236, 140);
}

h1 {
  color: rgb(214, 115, 3);
}

.boxes {
  margin-top: 10px;
  background-color: aliceblue;
  position: relative;
}

.box {
  height: 100px;
  width: 100px;
}

.one {
  background-color: rgb(114, 241, 241);
  position: absolute;
  left: 200px;
  top: 100px;
  height: 100px;
  width: 100px;
}

.two {
  background-color: midnightblue;

}

.buttons {
  background-color: rgb(253, 236, 140);
  border-radius: 100%;
  border: 10px solid rgb(253, 236, 140);
  transition-duration: 0.3s;
  position: relative;
}

.o {
  background-color: red;
  border-radius: 100%;
  border: 10px solid red;
  transition-duration: 0.3s;
  position: absolute;

}

.a{
  top: 500px;
  left: 100px;
  border-radius: 100%;
  border: 10px solid rgb(107, 227, 248);
  background-color: rgb(107, 227, 248);
  transition-duration: 0.8s;
  position: absolute;
}

.b{
  top: 500px;
  left: 500px;
  border-radius: 100%;
  border: 10px solid rgb(123, 136, 255);
  background-color: rgb(123, 136, 255);
  transition-duration: 0.5s;
  position: absolute;
}
.buttons:hover{
    border: 1000px solid rgb(253, 236, 140);
  cursor: grabbing;
  opacity: 0;

}
/* .o:hover {
  border: 1000px solid rgb(253, 236, 140);
  cursor: grabbing;
  opacity: 0;
}
.b:hover {
  opacity: 0;
  border: 100px solid rgb(253, 236, 140);
  cursor: crosshair;
}
.a:hover{
  opacity: 0;
  border: 1000px solid rgb(253, 236, 140);
  cursor: zoom-out;
} */