/* * {
  padding: 0px;
  margin: 0px;
} */

body {
  background-color: #DBF4A7;
}


h1 {
  color: #F98948;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  font-weight: 800;
  cursor: cell;
  transition-duration: 1.0s;
}

h1:hover {
  color: #E40066;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  border: 50px solid #DBF4A7;

}

h2 {
  font-family: wingdings;
  color: #F98948;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 5px;
  padding: 1px;
  margin: 1px;
  border: 1px;
transition-duration: 1.0s;
}
h2:hover{
  color: #CCC9E7;
  text-decoration-line:underline;
  text-decoration-style: dotted;
  rotate: 360deg;
  padding: 1px solid #DBF4A7;
}

p {
  font-family: 'Courier New', Courier, monospace;
  color: black;
  font-size: small;
}
p:hover{
  color: #E40066;
  text-decoration-line: underline;
  text-decoration-style: double;
}

span {
  font-family: 'Courier New', Courier, monospace;
  color: black;
  font-size: small;
}
span:hover{
  color: #E40066;
  text-decoration-line: underline;
  text-decoration-style: dashed;
}

.boxes {
  margin-top: 10px;
  background-color: aliceblue;
  position: relative;
}



.one {
  border: 10px solid #ADE8FF;
  background-color: #ADE8FF;
  position: absolute;
  left: 50px;
  top: 95px;
  height: 220px;
  width: 155px;
  transition-duration: 6.7s;
}

.one:hover {
  border: 50px solid #ADE8FF;
  rotate: 360deg;
  top: 20px;
  left: 1000px;
  cursor: help;
}

.two {
  background-color: #E40066;
  transition-duration: 1.5s
}
.two:hover{
   background-color: #CCC9E7;
  rotate: 360deg;
  /* padding: 1px solid #DBF4A7; */
}
.buttons {
  background-color: #DBF4A7;
  border-radius: 100%;
  border: 10px solid #DBF4A7;
  transition-duration: 0.4s;
  position: relative;

}

.o {
  background-color: #E40066;
  border-radius: 100%;
  border: 10px solid #E40066;
  transition-duration: 6.7s;
  position: absolute;
  left: 500px;
  top: 150px;

}

.a {
  top: 150px;
  left: 580px;
  border-radius: 100%;
  border: 10px solid #ADE8FF;
  background-color: #ADE8FF;
  transition-duration: 1.0s;
  position: absolute;
}

.b {
  top: 150px;
  left: 420px;
  border-radius: 100%;
  border: 10px solid #CCC9E7;
  background-color: #CCC9E7;
  transition-duration: 0.5s;
  position: absolute;
}

.buttons:hover {
  border: 1000px solid #DBF4A7;
  cursor: grabbing;
  opacity: 0;

}
input{
  transition-duration: 6.7s;
}
input:checked {
  background-color: #DBF4A7;
  color: #E40066;
  rotate: 3600deg;
}


/* .o:hover {
  border: 1000px solid rgb(253, 236, 140);
  cursor: grabbing;
  opacity: 0;
}
.b:hover {
  opacity: 0;
  border: 100px solid rgb(253, 236, 140);
  cursor: crosshair;
}
.a:hover{
  opacity: 0;
  border: 1000px solid rgb(253, 236, 140);
  cursor: zoom-out;
} */